documentation/xhtml5/html5-phrasing-30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="html5-attrib-30.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:group name="html5.phrasing.class">
		<xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="a"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="small"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="abbr"/>
				<xs:element ref="time"/>
				<xs:element ref="code"/>
				<xs:element ref="var"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="sup"/>
				<xs:element ref="sub"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="mark"/>
				<xs:element ref="bdo"/>
				<xs:element ref="bdi"/>
				<xs:element ref="span"/>
				<xs:element ref="br"/>
				<xs:element ref="wbr"/>
				<xs:element ref="s"/>
				<xs:element ref="u"/>
				<xs:element ref="ruby"/>
			</xs:choice>
			<xs:element ref="html5.edit.phrasing.class"/>
		</xs:choice>
	</xs:group>
	<xs:attributeGroup name="html5.phrasing.attrs">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:element name="a">
		<xs:annotation>
			<xs:documentation>If the a element has an href attribute, then it represents a hyperlink
				(a hypertext anchor).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.a.phrasing.content">
					<xs:attributeGroup ref="html5.a.phrasing.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.a.phrasing.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
		<xs:attributeGroup ref="html5.a.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.a.phrasing.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:attributeGroup name="html5.a.attrs">
		<xs:attribute name="href" type="datatype.html5.URL.spaces"/>
		<xs:attribute name="hreflang" type="datatype.languagecode"/>
		<xs:attribute name="target" type="datatype.html5.browsing.context.name.or.keyword"/>
		<xs:attribute name="rel" type="datatype.html5.space.separated.tokens"/>
		<xs:attribute name="media" type="datatype.html5.media.query"/>
		<xs:attribute name="type" type="datatype.mimetype"/>
	</xs:attributeGroup>
	<xs:element name="abbr">
		<xs:annotation>
			<xs:documentation>The abbr element represents an abbreviation or acronym, optionally
				with its expansion. The title attribute may be used to provide an expansion of the
				abbreviation. The attribute, if specified, must contain an expansion of the
				abbreviation, and nothing else.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.abbr.content">
					<xs:attributeGroup ref="html5.abbr.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.abbr.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.abbr.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="b">
		<xs:annotation>
			<xs:documentation>The b element represents a span of text to which attention is being
				drawn for utilitarian purposes without conveying any extra importance and with no
				implication of an alternate voice or mood, such as key words in a document abstract,
				product names in a review, actionable words in interactive text-driven software, or
				an article lede.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.b.content">
					<xs:attributeGroup ref="html5.b.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.b.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.b.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="bdo">
		<xs:annotation>
			<xs:documentation>The bdo element represents explicit text directionality formatting
				control for its children. It allows authors to override the Unicode bidirectional
				algorithm by explicitly specifying a direction override. [BIDI]</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.bdo.content">
					<xs:attributeGroup ref="html5.bdo.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.bdo.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.bdo.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="bdi">
		<xs:annotation>
			<xs:documentation>The bdi element represents a span of text that is to be isolated from
				its surroundings for the purposes of bidirectional text formatting.
				[BIDI]</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.bdi.content">
					<xs:attributeGroup ref="html5.bdi.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.bdi.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.bdi.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="br">
		<xs:annotation>
			<xs:documentation>The br element represents a line break.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="html5.br.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.br.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:element name="cite">
		<xs:annotation>
			<xs:documentation>The cite element represents the title of a work (e.g. a book, a paper,
				an essay, a poem, a score, a song, a script, a film, a TV show, a game, a sculpture,
				a painting, a theatre production, a play, an opera, a musical, an exhibition, a
				legal case report, etc). This can be a work that is being quoted or referenced in
				detail (i.e. a citation), or it can just be a work that is mentioned in
				passing.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.cite.content">
					<xs:attributeGroup ref="html5.cite.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.cite.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.cite.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="code">
		<xs:annotation>
			<xs:documentation>The code element represents a fragment of computer code. This could be
				an XML element name, a filename, a computer program, or any other string that a
				computer would recognize.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.code.content">
					<xs:attributeGroup ref="html5.code.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.code.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.code.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="dfn">
		<xs:annotation>
			<xs:documentation>The dfn element represents the defining instance of a term. The
				paragraph, description list group, or section that is the nearest ancestor of the
				dfn element must also contain the definition(s) for the term given by the dfn
				element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.dfn.content">
					<xs:attributeGroup ref="html5.dfn.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.dfn.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.dfn.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="em">
		<xs:annotation>
			<xs:documentation>The em element represents stress emphasis of its
				contents.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.em.content">
					<xs:attributeGroup ref="html5.em.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.em.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.em.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="i">
		<xs:annotation>
			<xs:documentation>The i element represents a span of text in an alternate voice or mood,
				or otherwise offset from the normal prose in a manner indicating a different quality
				of text, such as a taxonomic designation, a technical term, an idiomatic phrase from
				another language, a thought, or a ship name in Western texts.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.i.content">
					<xs:attributeGroup ref="html5.i.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.i.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.i.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="kbd">
		<xs:annotation>
			<xs:documentation>The kbd element represents user input (typically keyboard input,
				although it may also be used to represent other input, such as voice
				commands).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.kbd.content">
					<xs:attributeGroup ref="html5.kbd.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.kbd.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.kbd.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="mark">
		<xs:annotation>
			<xs:documentation>The mark element represents a run of text in one document marked or
				highlighted for reference purposes, due to its relevance in another context. When
				used in a quotation or other block of text referred to from the prose, it indicates
				a highlight that was not originally present but which has been added to bring the
				reader's attention to a part of the text that might not have been considered
				important by the original author when the block was originally written, but which is
				now under previously unexpected scrutiny. When used in the main prose of a document,
				it indicates a part of the document that has been highlighted due to its likely
				relevance to the user's current activity.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.mark.content">
					<xs:attributeGroup ref="html5.mark.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.mark.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.mark.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="strong">
		<xs:annotation>
			<xs:documentation>The strong element represents strong importance for its
				contents.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.strong.content">
					<xs:attributeGroup ref="html5.strong.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.strong.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.strong.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="small">
		<xs:annotation>
			<xs:documentation>The small element represents side comments such as small
				print.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.small.content">
					<xs:attributeGroup ref="html5.small.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.small.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.small.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="q">
		<xs:annotation>
			<xs:documentation>The q element represents some phrasing content quoted from another
				source.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.q.content">
					<xs:attributeGroup ref="html5.q.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.q.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
		<xs:attribute name="cite" type="datatype.html5.URL.spaces"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.q.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="s">
		<xs:annotation>
			<xs:documentation>The s element represents contents that are no longer accurate or no
				longer relevant.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.s.content">
					<xs:attributeGroup ref="html5.s.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.s.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.s.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="samp">
		<xs:annotation>
			<xs:documentation>The samp element represents (sample) output from a program or
				computing system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.samp.content">
					<xs:attributeGroup ref="html5.samp.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.samp.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.samp.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="sub">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.sub.content">
					<xs:attributeGroup ref="html5.sub.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.sub.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.sub.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="sup">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.sup.content">
					<xs:attributeGroup ref="html5.sup.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.sup.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.sup.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="span">
		<xs:annotation>
			<xs:documentation>The span element doesn't mean anything on its own, but can be useful
				when used together with the global attributes, e.g. class, lang, or dir. It
				represents its children.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.span.content">
					<xs:attributeGroup ref="html5.span.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.span.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.span.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="time">
		<xs:annotation>
			<xs:documentation>The time element represents either a time on a 24 hour clock, or a
				precise date in the proleptic Gregorian calendar, optionally with a time and a
				time-zone offset. [GREGORIAN]</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.time.content">
					<xs:attributeGroup ref="html5.time.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.time.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
		<xs:attribute name="datetime">
			<xs:simpleType>
				<xs:union
					memberTypes="datatype.html5.date.optional.time datatype.html5.date.or.time"
				/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pubdate">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="pubdate"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.time.pubdate.attr">
		<xs:attribute name="pubdate" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="pubdate"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.time.datetime.attr.date-optional-time">
		<xs:attribute name="datetime" use="required" type="datatype.html5.date.optional.time"
		/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.time.datetime.attr.date-or-time">
		<xs:attribute name="datetime" use="required" type="datatype.html5.date.or.time"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.time.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="var">
		<xs:annotation>
			<xs:documentation>The var element represents a variable. This could be an actual
				variable in a mathematical expression or programming context, an identifier
				representing a constant, a function parameter, or just be a term used as a
				placeholder in prose.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.var.content">
					<xs:attributeGroup ref="html5.var.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.var.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.var.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="wbr">
		<xs:annotation>
			<xs:documentation>The wbr element represents a line break
				opportunity.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="html5.wbr.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.wbr.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:element name="u">
		<xs:annotation>
			<xs:documentation>The u element represents a span of text with an unarticulated, though
				explicitly rendered, non-textual annotation, such as labeling the text as being a
				proper name in Chinese text (a Chinese proper name mark), or labeling the text as
				being misspelt.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.u.content">
					<xs:attributeGroup ref="html5.u.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.u.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.u.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="ruby">
		<xs:annotation>
			<xs:documentation>The ruby element allows one or more spans of phrasing content to be
				marked with ruby annotations. Ruby annotations are short runs of text presented
				alongside base text, primarily used in East Asian typography as a guide for
				pronunciation or to include other annotations. In Japanese, this form of typography
				is also known as furigana.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.ruby.content">
					<xs:attributeGroup ref="html5.ruby.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.ruby.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.ruby.content" mixed="true">
		<xs:sequence maxOccurs="unbounded">
			<xs:group ref="html5.phrasing.model"/>
			<xs:choice>
				<xs:element ref="rt"/>
				<xs:sequence>
					<xs:element ref="rp"/>
					<xs:element ref="rt"/>
					<xs:element ref="rp"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rt">
		<xs:annotation>
			<xs:documentation>The rt element marks the ruby text component of a ruby
				annotation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.rt.content">
					<xs:attributeGroup ref="html5.rt.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.rt.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.rt.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="rp">
		<xs:annotation>
			<xs:documentation>The rp element can be used to provide parentheses around a ruby text
				component of a ruby annotation, to be shown by user agents that don't support ruby
				annotations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.rp.content">
					<xs:attributeGroup ref="html5.rp.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.rp.attlist">
		<xs:attributeGroup ref="html5.phrasing.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.rp.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
</xs:schema>
