schemas/xhtml5/html5-grouping-30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="html5-attrib-30.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:element name="html5.grouping.class" abstract="true"/>
	<xs:attributeGroup name="html5.grouping.attrs">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:element name="p" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The p element represents a paragraph.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.p.content">
					<xs:attributeGroup ref="html5.p.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.p.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.p.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="hr" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The hr element represents a paragraph-level thematic break, e.g. a
				scene change in a story, or a transition to another topic within a section of a
				reference book.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="html5.hr.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.hr.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:element name="pre" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The pre element represents a block of preformatted text, in which
				structure is represented by typographic conventions rather than by
				elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.pre.content">
					<xs:attributeGroup ref="html5.pre.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.pre.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.pre.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="blockquote" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The blockquote element represents a section that is quoted from
				another source.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.blockquote.content">
					<xs:attributeGroup ref="html5.blockquote.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.blockquote.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
		<xs:attribute name="cite" type="datatype.html5.URL.spaces"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.blockquote.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ul" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The ul element represents a list of items, where the order of the
				items is not important that is, where changing the order would not materially change
				the meaning of the document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.ul.content">
					<xs:attributeGroup ref="html5.ul.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.ul.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.ul.content">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="html5.li"/>
	</xs:complexType>
	<xs:group name="html5.li">
		<xs:sequence>
			<xs:element name="li">
				<xs:annotation>
					<xs:documentation>The li element represents a list item. If its parent element
						is an ol, ul, or menu element, then the element is an item of the parent
						element's list, as defined for those elements. Otherwise, the list item has
						no defined list-related relationship to any other li
						element.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="html5.li.content">
							<xs:attributeGroup ref="html5.li.attlist"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="html5.li.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.li.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ol" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The ol element represents a list of items, where the items have been
				intentionally ordered, such that changing the order would change the meaning of the
				document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.ol.content">
					<xs:attributeGroup ref="html5.ol.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.ol.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
		<xs:attribute name="start" type="datatype.integer"/>
		<xs:attribute name="reversed">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="reversed"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1"/>
					<xs:enumeration value="a"/>
					<xs:enumeration value="A"/>
					<xs:enumeration value="i"/>
					<xs:enumeration value="I"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.ol.start.attr">
		<xs:attribute name="start" use="required" type="datatype.integer"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.ol.reversed.attr">
		<xs:attribute name="reversed" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="reversed"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ol.type.attr">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1"/>
					<xs:enumeration value="a"/>
					<xs:enumeration value="A"/>
					<xs:enumeration value="i"/>
					<xs:enumeration value="I"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="html5.ol.content">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="html5.oli"/>
	</xs:complexType>
	<xs:group name="html5.oli">
		<xs:sequence>
			<xs:element name="li">
				<xs:annotation>
					<xs:documentation>The li element represents a list item. If its parent element
						is an ol, ul, or menu element, then the element is an item of the parent
						element's list, as defined for those elements. Otherwise, the list item has
						no defined list-related relationship to any other li
						element.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="html5.oli.content">
							<xs:attributeGroup ref="html5.oli.attlist"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="html5.oli.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
		<xs:attribute name="value" type="datatype.integer"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.oli.attrs.value">
		<xs:attribute name="value" use="required" type="datatype.integer"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.oli.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="dl" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The dl element represents an association list consisting of zero or
				more name-value groups (a description list). Each group must consist of one or more
				names (dt elements) followed by one or more values (dd elements). Within a single dl
				element, there should not be more than one dt element for each
				name.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.dl.content">
					<xs:attributeGroup ref="html5.dl.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.dl.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.dl.content">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" ref="dt"/>
			<xs:group maxOccurs="unbounded" ref="html5.dd"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dt">
		<xs:annotation>
			<xs:documentation>The dt element represents the term, or name, part of a
				term-description group in a description list (dl element).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.dt.content">
					<xs:attributeGroup ref="html5.dt.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.dt.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.dt.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:group name="html5.dd">
		<xs:sequence>
			<xs:element name="dd">
				<xs:annotation>
					<xs:documentation>The dd element represents the description, definition, or
						value, part of a term-description group in a description list (dl
						element).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="html5.dd.content">
							<xs:attributeGroup ref="html5.dd.attlist"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="html5.dd.phrasing">
		<xs:sequence>
			<xs:element name="dd">
				<xs:annotation>
					<xs:documentation>The dd element represents the description, definition, or
						value, part of a term-description group in a description list (dl
						element).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="html5.dd.phrasing.content">
							<xs:attributeGroup ref="html5.dd.attlist"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="html5.dd.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.dd.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="html5.dd.phrasing.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:element name="div" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The div element has no special meaning at all. It represents its
				children. It can be used with the class, lang, and title attributes to mark up
				semantics common to a group of consecutive elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.div.content">
					<xs:attributeGroup ref="html5.div.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.div.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.div.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="table" substitutionGroup="html5.grouping.class">
		<xs:annotation>
			<xs:documentation>The table element represents data with more than one dimension, in the
				form of a table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="table.content">
					<xs:attributeGroup ref="table.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="table.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
		<xs:attribute name="border">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.border.attr">
		<xs:attribute name="border" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="table.content">
		<xs:sequence>
			<xs:element minOccurs="0" ref="caption"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="colgroup"/>
			<xs:element minOccurs="0" ref="thead"/>
			<xs:sequence>
				<xs:choice>
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="tbody"/>
					<xs:element maxOccurs="unbounded" ref="tr"/>
				</xs:choice>
				<xs:element minOccurs="0" ref="tfoot"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="caption">
		<xs:annotation>
			<xs:documentation>The caption element represents the title of the table that is its
				parent, if it has a parent and that is a table element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.caption.content">
					<xs:attributeGroup ref="html5.caption.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.caption.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.caption.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="colgroup">
		<xs:annotation>
			<xs:documentation>The colgroup element represents a group of one or more columns in the
				table that is its parent, if it has a parent and that is a table
				element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.colgroup.content">
					<xs:attributeGroup ref="html5.colgroup.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.colgroup.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.colgroup.content">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="col"/>
		</xs:sequence>
		<xs:attribute name="span" type="datatype.positive.integer"/>
	</xs:complexType>
	<xs:element name="col">
		<xs:annotation>
			<xs:documentation>If a col element has a parent and that is a colgroup element that
				itself has a parent that is a table element, then the col element represents one or
				more columns in the column group represented by that colgroup.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="html5.col.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.col.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
		<xs:attribute name="span" type="datatype.positive.integer"/>
	</xs:attributeGroup>
	<xs:element name="thead">
		<xs:annotation>
			<xs:documentation>The thead element represents the block of rows that consist of the
				column labels (headers) for the parent table element, if the thead element has a
				parent and it is a table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.thead.content">
					<xs:attributeGroup ref="html5.thead.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.thead.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.thead.content">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="tr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tfoot">
		<xs:annotation>
			<xs:documentation>The tfoot element represents the block of rows that consist of the
				column summaries (footers) for the parent table element, if the tfoot element has a
				parent and it is a table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.tfoot.content">
					<xs:attributeGroup ref="html5.tfoot.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.tfoot.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.tfoot.content">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="tr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tbody">
		<xs:annotation>
			<xs:documentation>The tbody element represents a block of rows that consist of a body of
				data for the parent table element, if the tbody element has a parent and it is a
				table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.tbody.content">
					<xs:attributeGroup ref="html5.tbody.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.tbody.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.tbody.content">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="tr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tr">
		<xs:annotation>
			<xs:documentation>The tr element represents a row of cells in a
				table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.tr.content">
					<xs:attributeGroup ref="html5.tr.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.tr.attlist">
		<xs:attributeGroup ref="html5.grouping.attrs"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.tr.content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="td"/>
			<xs:element ref="th"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="td">
		<xs:annotation>
			<xs:documentation>The td element represents a data cell in a table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.td.content">
					<xs:attributeGroup ref="html5.td.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.td.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
		<xs:attribute name="colspan" type="datatype.positive.integer"/>
		<xs:attribute name="rowspan" type="datatype.non-negative.integer"/>
		<xs:attribute name="headers" type="datatype.IDREFS"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.td.content">
		<xs:complexContent>
			<xs:extension base="html5.flow.model"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="th">
		<xs:annotation>
			<xs:documentation>The th element represents a header cell in a table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="html5.th.content">
					<xs:attributeGroup ref="html5.th.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="html5.th.attlist">
		<xs:attributeGroup ref="html5.global.attrs"/>
		<xs:attribute name="colspan" type="datatype.positive.integer"/>
		<xs:attribute name="rowspan" type="datatype.non-negative.integer"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="row"/>
					<xs:enumeration value="col"/>
					<xs:enumeration value="rowgroup"/>
					<xs:enumeration value="colgroup"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="headers" type="datatype.IDREFS"/>
	</xs:attributeGroup>
	<xs:complexType name="html5.th.content" mixed="true">
		<xs:group ref="html5.phrasing.model"/>
	</xs:complexType>
	<xs:attributeGroup name="html5.colspan.col.span.attr">
		<xs:attribute name="span" use="required" type="datatype.positive.integer"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.colspan.attr">
		<xs:attribute name="colspan" use="required" type="datatype.positive.integer"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.rowspan.attr">
		<xs:attribute name="rowspan" use="required" type="datatype.non-negative.integer"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.headers.attr">
		<xs:attribute name="headers" use="required" type="datatype.IDREFS"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.scope.attr">
		<xs:attribute name="scope" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="row"/>
					<xs:enumeration value="col"/>
					<xs:enumeration value="rowgroup"/>
					<xs:enumeration value="colgroup"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="html5.table.abbr.attr">
		<xs:attribute name="abbr" use="required" type="xs:string"/>
	</xs:attributeGroup>
</xs:schema>
